<div class="row">
  <div *ngFor="let item of prodotti" class="card col-4 h-75">
    <img
      src="{{ item.thumbnail }}"
      class="card-img-top"
      alt="..."
      style="height: 200px"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ item.title }}
      </h5>
      <p class="card-text">
        {{ item.description }}
      </p>
      <button class="btn btn-primary" (click)="addToFavorites(item)">
        Aggiungi ai preferiti
      </button>
    </div>
  </div>
</div>
